<header class="header">
<h1>Biblioteca</h1>
<ul class="header__lista">
  <li><a class="header__link" href="/select">Livros cadastrados</a></li>
  <li><a class="header__link" href="/inserir">Cadastrar livros</a></li>
  <li><a class="header__link" href="/">Inicio</a></li>
</ul>
</header>

<h1 style="text-align: center; margin-top: 100px;">Livro deletado com sucesso...</h1>